__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv
*.sqlite3
*.db
db.sqlite3
.git
.gitignore
.env
.venv
*.log
*.pot
*.pyc
__pycache__/
staticfiles/
media/
.DS_Store
*.md
README.md
.vscode/
.idea/
*.swp
*.swo
*~

